<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.7" targetFramework="net472" />
  <package id="CommunityToolkit.HighPerformance" version="8.2.1" targetFramework="net472" />
  <package id="ControlzEx" version="6.0.0" targetFramework="net472" />
  <package id="fo-dicom" version="5.1.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="7.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Prism.Core" version="8.1.97" targetFramework="net472" />
  <package id="Prism.Wpf" version="8.1.97" targetFramework="net472" />
  <package id="SimpleITK-64bit" version="0.9.0" targetFramework="net472" />
  <package id="SimpleITK-win64-CSharp-x64" version="1.0.0.1" targetFramework="net472" />
  <package id="SimpleProgressWindow" version="1.2.8594.18064" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.2" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="7.0.3" targetFramework="net472" />
  <package id="System.Threading.Channels" version="7.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>