<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MAAS_SFRThelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MAAS_SFRThelper.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MAAS_SFRThelper.Properties.Settings>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExpDate" serializeAs="String">
                <value>2023-06-01</value>
            </setting>
        </MAAS_SFRThelper.Properties.Settings>
        <MAAS_SFRThelper.Settings1>
            <setting name="DisplayTerms" serializeAs="String">
                <value>False</value>
            </setting>
        </MAAS_SFRThelper.Settings1>
    </applicationSettings>
</configuration>