<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Configuration" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net48" />
  <package id="NLog" version="5.1.0" targetFramework="net48" />
  <package id="NLog.Extensions.Logging" version="5.2.0" targetFramework="net48" />
  <package id="NlogViewer" version="0.5.0.0" targetFramework="net48" />
  <package id="Prism.Core" version="8.1.97" targetFramework="net48" />
  <package id="Prism.Wpf" version="8.1.97" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net48" />
</packages>